{% extends 'SonataAdminBundle::layout.html.twig' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

        </div>
    </div>
</div>
    <div id="calendar"></div>
    <script>

        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar({
                editable: false,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: "{{ path( 'events_load' ) }}",
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay)
                {
					var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
					var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
					
					var url = "{{ path('event_new' , { start : '__START__', 'end' : '__END__' })}}";
					url = url.replace('__START__', encodeURIComponent(start));
					url = url.replace('__END__', encodeURIComponent(end));
				
                    $('.modal-content').load(url, function () {
						//Date picker
						$('.js-datepicker').datetimepicker({
							format: 'Y-MM-DD'
						});
						$('#myModal').modal({ show: true });
						
						$("#event-form").submit(function(event){
							var request_method = $(this).attr("method"); //get form GET/POST method
							var form_data = $(this).serialize(); //Encode form elements for submission
							event.preventDefault(); //prevent default action 
							$.ajax({
								url : url,
								type: request_method,
								data : form_data
							}).done(function(response){
								$('#myModal').modal('hide');
								calendar.fullCalendar('refetchEvents');
							});
						});
					});
                },
                editable: true,
                eventClick: function (event)
                {
					var id = event.id;
					var url = "{{ path('event_edit' , { id : '__ID__' }) }}";
					url = url.replace('__ID__', id);
				
                    $('.modal-content').load(url, function () {
						
						//Date picker
						$('.js-datepicker').datetimepicker({
							format: 'Y-MM-DD'
						});
						
						$('#myModal').modal({ show: true });
						
						$("#event-form").submit(function(event){
							var request_method = $(this).attr("method"); //get form GET/POST method
							var form_data = $(this).serialize(); //Encode form elements for submission
							event.preventDefault(); //prevent default action 
							$.ajax({
								url : url,
								type: request_method,
								data : form_data
							}).done(function(response){
								$('#myModal').modal('hide');
								calendar.fullCalendar('refetchEvents');
							});
						});
					});
                },

            });
        });

    </script>

{% endblock %}
