<ul class="sidebar-menu">
	{% if is_granted('ROLE_ABSHORE_DEV') %}
        <li class="{% if app.request.attributes.get('_route') in ['stats_list'] %}active {% endif %}treeview">
            <a href="#"><i class="fa fa-folder"></i><span>Mon espace</span><span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span></a>
            <ul class="treeview-menu menu_level_1">
                <li class="{% if app.request.attributes.get('_route') == 'stats_list' %}active {% endif %}first">
                    <a href="{{ path('stats_list') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>TimeSheet</a>
                </li>
            </ul>
        </li>
	{% endif %}

	{% if is_granted('ROLE_ABSHORE_ADMIN') %}
        <li class="{% if app.request.attributes.get('_route') in ['admin_app_typeconge_list', 'admin_sonata_user_user_list', 'admin_app_client_list', 'admin_app_project_list'] %}active {% endif %}treeview">
            <a href="#"><i class="fa fa-folder"></i><span>Paramètrage</span><span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span></a>
            <ul class="treeview-menu menu_level_1">
				<li class="{% if app.request.attributes.get('_route') == 'admin_sonata_user_user_list' %}active {% endif %}first">
					<a href="{{ path('admin_sonata_user_user_list') }}"><i class="fa fa-angle-double-right"></i>Utilisateurs</a>
				</li>                
				<li class="{% if app.request.attributes.get('_route') == 'admin_app_client_list' %}active {% endif %}first">
                    <a href="{{ path('admin_app_client_list') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Clients</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_app_project_list' %}active {% endif %}first">
                    <a href="{{ path('admin_app_project_list') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Projets</a>
                </li>

                <li class="{% if app.request.attributes.get('_route') == 'admin_app_typeconge_list' %}active {% endif %}first">
                    <a href="{{ path('admin_app_typeconge_list') }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>Type de congés</a>
                </li>

            </ul>
        </li>
        
        <li class="{% if app.request.attributes.get('_route') in ['admin_app_conge_list', 'stats_list', 'admin_app_event_list'] %}active {% endif %}treeview">
            <a href="#"><i class="fa fa-folder"></i><span>Global</span><span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span></a>
            <ul class="treeview-menu menu_level_1">
                <li class="{% if app.request.attributes.get('_route') == 'admin_app_event_list' %}active {% endif %}first">
                    <a href="{{ path('admin_app_event_list') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>TimeSheet</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'stats_list' %}active {% endif %}first">
                    <a href="{{ path('stats_list') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Agenda</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_app_conge_list' %}active {% endif %}first">
                    <a href="{{ path('admin_app_conge_list') }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>Congés</a>
                </li>
            </ul>
        </li>
	{% endif %}
</ul>
