{% extends 'base.html.twig' %}

{% block body %}Loading ...{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
    <script>
        document.location = "{{ path('sonata_admin_dashboard') }}";
    </script>
{% endblock %}
