<div class="modal-header">
	<div class="row">
                <div class="col-md-6">
					<h4 class="modal-title">Éditer TimeSheet</h4>
                </div>
                <div class="col-md-6">
                    {{ form_start(delete_form) }}
                    <input class="btn  btn-danger pull-right" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
</div>

{{ form_start(edit_form, { 'attr': { 'class': 'form-horizontal', 'id': 'event-form' } }) }}

<div class="modal-body">
	
        {{ form_widget(edit_form._token) }}
        
        <div class="form-group">
			<label for="appbundle_rfq_deadline" class="col-sm-2 control-label">Date début</label>
			<div class="col-sm-10">
				<div class="input-group date">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					{{ form_widget(edit_form.start_event, { 'attr': { 'placeholder': 'Date début', value : event.getStartEvent()|date("Y-m-d") } }) }}
				</div>
			</div>
		</div>
        <div class="form-group">
			<label for="appbundle_rfq_deadline" class="col-sm-2 control-label">Date fin</label>
			<div class="col-sm-10">
				<div class="input-group date">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					{{ form_widget(edit_form.end_event, { 'attr': { 'placeholder': 'Date fin', value : event.getEndEvent()|date("Y-m-d") } }) }}
				</div>
			</div>
		</div>
        
        <div class="form-group">
            <label for="inputarticle" class="col-sm-2 control-label">Projet</label>
            <div class="col-sm-10">
                {{ form_widget(edit_form.project, { 'attr': {'class': '', 'placeholder': 'Projet' } }) }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputarticle" class="col-sm-2 control-label">Done</label>
            <div class="col-sm-10">
                {{ form_widget(edit_form.done, { 'attr': {'class': '', 'placeholder': 'Tâches réalisées' } }) }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputarticle" class="col-sm-2 control-label">To do</label>
            <div class="col-sm-10">
                {{ form_widget(edit_form.todo, { 'attr': {'class': '', 'placeholder': 'Tâches restantes' } }) }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputarticle" class="col-sm-2 control-label">Commentaire</label>
            <div class="col-sm-10">
                {{ form_widget(edit_form.commentary, { 'attr': {'class': '', 'placeholder': 'Points bloquants' } }) }}
            </div>
        </div>
        
        
    <div class="">                
        {{ form_rest(edit_form) }}
    </div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
	<input class="btn btn-info" id="event-target-button" type="submit" value="Éditer" />
</div>

{{ form_end(edit_form) }}
