{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conges list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_conge</th>
                <th>End_conge</th>
                <th>Commentary</th>
                <th>Status</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conge in conges %}
            <tr>
                <td><a href="{{ path('conge_show', { 'id': conge.id }) }}">{{ conge.id }}</a></td>
                <td>{% if conge.startconge %}{{ conge.startconge|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if conge.endconge %}{{ conge.endconge|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ conge.commentary }}</td>
                <td>{{ conge.status }}</td>
                <td>{% if conge.createdAt %}{{ conge.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if conge.updatedAt %}{{ conge.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conge_show', { 'id': conge.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conge_edit', { 'id': conge.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conge_new') }}">Create a new conge</a>
        </li>
    </ul>
{% endblock %}
