{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conge</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conge.id }}</td>
            </tr>
            <tr>
                <th>Start_conge</th>
                <td>{% if conge.startconge %}{{ conge.startconge|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End_conge</th>
                <td>{% if conge.endconge %}{{ conge.endconge|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Commentary</th>
                <td>{{ conge.commentary }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ conge.status }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if conge.createdAt %}{{ conge.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if conge.updatedAt %}{{ conge.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conge_edit', { 'id': conge.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
